<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_avea_root"
        name="Avea"
        sequence="100"
    />

    <menuitem
        id="menu_avea_till"
        name="Till"
        parent="menu_avea_root"
        sequence="10"
    />

    <menuitem
        id="menu_avea_till_movements"
        name="Till Movements"
        parent="menu_avea_till"
        action="action_avea_till_movements"
        sequence="10"
    />

</odoo>